
    <div ng-controller="TaskDetailController">
    <table>
        <tr>
            <td>Task id </td>
            <td>{{Task.TASK_ID+ " "}}</td>
        </tr>
        <tr>
            <td> Task name </td>
            <td>{{Task.TASK_NAME}}</td>
        </tr>
        <tr>
            <td> Project  </td>
            <td>{{Task.TASK_PROJECT_ID}}</td>
        </tr>
        <tr>
            <td>Start date</td>
            <td>{{Task.TASK_START_DATE}}</td>
        </tr>
        <tr>
            <td>End date</td>
            <td>{{Task.TASK_END_DATE}}</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>{{Task.TASK_PRIORITY}}</td>
        </tr>
        <tr>
            <td>Estimated time</td>
            <td>{{Task.TASK_ESTIMATED_HOUR}}</td>
        </tr>
       
        <tr>
            <td>Assigned to :</td>
            <td>{{Task.TASK_U_ID}}</td>
        </tr>


    </table>

</div>
