

<style>
    .modal {
        display: block;
    }
</style>
<div>
    <div class="modal-header">
        <h3 class="modal-title">Update task here</h3>
    </div>

    <form novalidate="novalidate" name="UpdateTaskHourForm" ng-submit="UpdateTaskHourFunc()">
        <div class="modal-body" style="min-height:100px">
            <div style="color:blue">{{TaskHour}} </div>
            <div form-group-validation="TASK_HOUR_CONSUMED" class="form-row-dataset form-group">
                <label for="TASK_HOUR_CONSUMED" class="view-label-tms col-md-2 control-label">Hours:</label>
                <div class="col-md-10">

                    <input type="number" name="TASK_HOUR_CONSUMED" class="form-control " ng-model="Task.TASK_HOUR_CONSUMED" ng-class="Submitted?'ng-dirty':''" required autofocus />
                    <span class="form-error" ng-show="(UpdateTaskHourForm.TASK_HOUR_CONSUMED.$dirty || Submitted) && UpdateTaskHourForm.TASK_HOUR_CONSUMED.$error.required">*This is required</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default btn-success" />
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>



</div>




