
<h2>Details of UID  {{User.U_ID}}</h2>
<div ng-controller="UserDetailController">
    <table>
        <tr>
            <td>Name </td>
            <td>{{User.U_FIRST_NAME+ " "}} {{User.U_LAST_NAME}}</td>
        </tr>
        <tr>
            <td> Username </td>
            <td>{{User.U_LOGIN_NAME}}</td>
        </tr>
        <tr>
            <td> Email id </td>
            <td>{{User.U_EMAIL}}</td>
        </tr>
        <tr>
            <td>Position</td>
            <td>{{User.U_POSITION}}</td>
        </tr>


    </table>

</div>


